.food-info {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures spacing between text and image */
}

.food-image {
  width: 15vh;
  height: 15vh;
  margin-left: 15px; /* Adds space between text and image */
  margin-bottom: 15px;
  border-radius: 15px;
  
}


.filter-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  transition: 0.3s;
}

button.active {
  background-color: #3f51b5;
  color: white;
}

.full-width {
  width: 100%;
  margin-top: 10px;
}
